@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-productive: var(--productive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-vercel-purple: var(--vercel-purple);
  --color-vercel-yellow: var(--vercel-yellow);
  --color-vercel-blue: var(--vercel-blue);
  --color-vercel-teal: var(--vercel-teal);
  --color-vercel-pink: var(--vercel-pink);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0); /* White */
  --foreground: oklch(0.145 0 0); /* Neutral 950 */
  --card: oklch(1 0 0); /* White */
  --card-foreground: oklch(0.145 0 0); /* Neutral 950 */
  --popover: oklch(1 0 0); /* White */
  --popover-foreground: oklch(0.145 0 0); /* Neutral 950 */
  --primary: oklch(0.205 0 0); /* Neutral 900 */
  --primary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --secondary: oklch(0.97 0 0); /* Neutral 100 */
  --secondary-foreground: oklch(0.205 0 0); /* Neutral 900 */
  --muted: oklch(0.97 0 0); /* Neutral 100 */
  --muted-foreground: oklch(0.556 0 0); /* Neutral 500 */
  --accent: oklch(0.97 0 0); /* Neutral 100 */
  --accent-foreground: oklch(0.205 0 0); /* Neutral 900 */
  --destructive: oklch(0.577 0.245 27.325); /* Red 600 */
  --productive: oklch(0.627 0.194 149.214); /* Green 600 */
  --border: oklch(0.922 0 0); /* Neutral 200 */
  --input: oklch(0.922 0 0); /* Neutral 200 */
  --ring: oklch(0.708 0 0); /* Neutral 400 */
  --chart-1: oklch(0.809 0.105 251.813); /* Blue 300 */
  --chart-2: oklch(0.71 0.14 255); /* Custom */
  --chart-3: oklch(0.546 0.245 262.881); /* Blue 600 */
  --chart-4: oklch(0.488 0.243 264.376); /* Blue 700 */
  --chart-5: oklch(0.424 0.199 265.638); /* Blue 800 */
  --sidebar: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-foreground: oklch(0.145 0 0); /* Neutral 950 */
  --sidebar-primary: oklch(0.205 0 0); /* Neutral 900 */
  --sidebar-primary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-accent: oklch(0.97 0 0); /* Neutral 100 */
  --sidebar-accent-foreground: oklch(0.205 0 0); /* Neutral 900 */
  --sidebar-border: oklch(0.922 0 0); /* Neutral 200 */
  --sidebar-ring: oklch(0.708 0 0); /* Neutral 400 */
  --vercel-yellow: oklch(0.8169 0.1639 75.84); /* Custom */
  --vercel-purple: oklch(0.5556 0.1829 305.86); /* Custom */
  --vercel-blue: oklch(0.5787 0.2146 258.04); /* Custom */
  --vercel-teal: oklch(0.6491 0.1136 181.96); /* Custom */
  --vercel-pink: oklch(0.6368 0.2131 1.2); /* Custom */
}

.dark {
  --background: oklch(0.145 0 0); /* Neutral 950 */
  --foreground: oklch(0.985 0 0); /* Zinc 50 */
  --card: oklch(0.205 0 0); /* Neutral 900 */
  --card-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --popover: oklch(0.205 0 0); /* Neutral 900 */
  --popover-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --primary: oklch(0.922 0 0); /* Neutral 200 */
  --primary-foreground: oklch(0.205 0 0); /* Neutral 900 */
  --secondary: oklch(0.269 0 0); /* Neutral 800 */
  --secondary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --muted: oklch(0.269 0 0); /* Neutral 800 */
  --muted-foreground: oklch(0.708 0 0); /* Neutral 400 */
  --accent: oklch(0.269 0 0); /* Neutral 800 */
  --accent-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --destructive: oklch(0.637 0.237 25.331); /* Red 500 */
  --productive: oklch(0.627 0.194 149.214); /* Green 600 */
  --border: oklch(1 0 0 / 10%); /* White / 10% */
  --input: oklch(1 0 0 / 15%); /* White / 15% */
  --ring: oklch(0.556 0 0); /* Neutral 500 */
  --chart-1: oklch(0.809 0.105 251.813); /* Blue 300 */
  --chart-2: oklch(0.71 0.14 255); /* Custom */
  --chart-3: oklch(0.546 0.245 262.881); /* Blue 600 */
  --chart-4: oklch(0.488 0.243 264.376); /* Blue 700 */
  --chart-5: oklch(0.424 0.199 265.638); /* Blue 800 */
  --sidebar: oklch(0.205 0 0); /* Neutral 900 */
  --sidebar-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-primary: oklch(0.488 0.243 264.376); /* Blue 700 */
  --sidebar-primary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-accent: oklch(0.269 0 0); /* Neutral 800 */
  --sidebar-accent-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-border: oklch(1 0 0 / 10%); /* White / 10% */
  --sidebar-ring: oklch(0.556 0 0); /* Neutral 500 */
  --vercel-yellow: oklch(0.8169 0.1639 75.84); /* Custom */
  --vercel-purple: oklch(0.5556 0.1829 305.86); /* Custom */
  --vercel-blue: oklch(0.5787 0.2146 258.04); /* Custom */
  --vercel-teal: oklch(0.6491 0.1136 181.96); /* Custom */
  --vercel-pink: oklch(0.6368 0.2131 1.2); /* Custom */
}

@layer base {
  * {
    @apply border-border outline-ring/50 scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@layer base {
  /* Custom scrollbar styling. Thanks @pranathiperii. */
  pre::-webkit-scrollbar {
    width: 5px;
  }
  pre::-webkit-scrollbar-track {
    background: transparent;
  }
  pre::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  pre {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}

@keyframes depthIn {
  from {
    transform: translateZ(1000px);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
    visibility: visible;
  }
}

.animate-depth-in {
  animation: depthIn 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
